# Ignora tudo por padrão
*

# Libera apenas as suas pastas de configuração
!alacritty/
!alacritty/**
!dmenu/
!dmenu/**
!i3/
!i3/**
!ly/
!ly/**
!sxhkd/
!sxhkd/**
!yazi/
!yazi/**
!zed/
!zed/**

!.gitignore
